.row
  .small-12
    %h1 Poll Machine

    %h2 Send and manage all your polls right from one place!

    .call-to-action
      = link_to 'Register to create your first poll now!', new_user_path, class: 'button call-to-action'
